:root {
  --brand-blue: hsl(194, 92%, 15%);
  --brand-green: hsl(84, 100%, 54%);
  --primary-color: hsl(194, 92%, 35%);
  --secondary-color: hsl(84, 50%, 50%);
}

/* CLASES AUXILIARES */

.row {
  display: flex;
  width: 100%;
}

/* ESTILOS GENERALES */
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
  overflow: hidden;
}

/* LOGO */
#logo {
  position: absolute;
  top: calc(25vh - 75px);
  right: 1em;
  width: 75px;
}

/* HEADER */
header {
  height: 25vh;
  width: 100vw;
  margin: 0;
}

#home header,
#contact header,
#rules header {
  background: url(../img/design1_image1.jpg) top left no-repeat;
  background-size: cover;
}
#about header,
#registration header,
#game-info header {
  background: url(../img/design2_image1.jpg) top left no-repeat;
  background-size: cover;
}

h1 {
  margin: 1em;
  color: aliceblue;
  font-size: 2.5em;
}

/* BARRA DE NAVEGACION */
nav {
  background-color: var(--brand-blue);
  display: inline-flex;
  margin-top: 0%;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
}

nav > a {
  background-color: var(--brand-blue);
  text-decoration: none;
  padding: 0 1em;
  height: 3em;
  line-height: 3em;
  color: #fff;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid transparent;
  transition: background-color 0.6s, border-bottom 0.4s;
}

nav > a:hover {
  background-color: var(--secondary-color);
  border-bottom: 4px solid var(--brand-green);
}

.active {
  background-color: var(--primary-color);
  border-left: 6px solid var(--brand-green);
  border-right: 6px solid var(--brand-green);
}

#credits {
  margin-top: auto;
  text-align: center;
  padding: 1em 0;
  color: aliceblue;
  font-size: 0.75em;
}
#credits a {
  color: aliceblue;
}

.sidebar {
  width: 0;
  overflow: hidden;
  max-height: 75vh;
}

.mobile-nav {
  position: absolute;
  width: 80vw;
  height: 100vh;
  right: 0;
  justify-content: space-between;
  font-size: 1.7em;
  transform: translateX(100%);
  transition: transform 0.4s;
}
#collapse {
  display: none;
}
#collapse + label {
  position: absolute;
  font-size: 2.5em;
  padding: 8px;
  background-color: black;
  color: aliceblue;
  transition: transform .4s;
  right: 0em;
  top: 0em;
}
#collapse:checked + label {
  transform:   translateX(-80vw);
}
#collapse + label .burger{
  display: block;
}
#collapse + label .close{
  display: none;
}
#collapse:checked + label .burger{
  display: none;
}
#collapse:checked + label .close{
  display: block;
}

#collapse:checked ~ .mobile-nav {
  transform: translateX(0);
}

/* CONTENIDO PRINCIPAL */
main {
  flex-grow: 1;
  box-shadow: 0px 0 15px 0px var(--brand-blue) inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
}
h2 {
  background: #000;
  color: #fff;
  margin: 0%;
  height: 3em;
  line-height: 3em;
  padding: 0 1em;
}
.content {
  padding: 0 2em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  overflow: auto;
}

/* ABOUT */
#about .content article {
  width: 100%;
}

/* FORMULARIO DE REGISTRO */
form {
  width: 80%;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form input[type="text"] {
  caret-color: var(--brand-green);
  color: var(--primary-color);
  border: none;
  border-bottom: 1px solid black;
}
form input[type="text"]:focus {
  border: none;
  border-bottom: 2px solid var(--brand-green);
}
form *::placeholder {
  color: var(--brand-blue);
}
form input[type="checkbox"] {
  display: none;
}
form input[type="checkbox"] + label {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.4s ease-out;
  border-radius: 3px 0 0 0;
  padding: 0.5em;
}
form input[type="checkbox"] + label:hover {
  border-bottom: 4px solid yellow;
}

form input[type="checkbox"]:checked + label {
  background-color: var(--primary-color);
}

/* BOTONES */
.buttons {
  display: flex;
  justify-content: flex-end;
  border: none;
  padding: 0.5em 0;
}

.buttons button {
  padding: 1em;
  border-radius: 0;
  font-weight: bold;
  border: none;
  transition: background-color 0.4s;
  color: whitesmoke;
}
.buttons button[type="submit"] {
  background-color: var(--primary-color);
}

.buttons button[type="submit"]:hover {
  background-color: var(--brand-blue);
}
.buttons button[type="reset"] {
  margin-right: 2em;
  background-color: gray;
}

.buttons button[type="reset"]:hover {
  background-color: var(--secondary-color);
}

/* Media queries */

@media screen and (min-width: 768px) {
  #logo {
    top: 1em;
    right: 1em;
    width: 150px;
  }
  #collapse + label {
    display: none;
  }
  .mobile-nav{
  display: none;

  }
  .sidebar {
    width: 20vw;
  }

  main {
    width: 80vw;
  }

  #about .content article {
    width: 25%;
  }
}
